body{
    font:14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
.tool{
padding: 10px 15px;
width: 1488.4px;
border-width: 1px;
}
.button1{
    background-color: #009688;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    color: white;
    border: none;
    border-radius: 2px;
    display:inline-block;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.button2{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
}
.button3{
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 12px;
}
.button4{
    background-color: #FF5722;
    margin-left: 10px;
}
.content-header{
    border-width: 0px;
}
.tool,.content-header{
    background-color: #f2f2f2;
    border-style: solid;
    border-color: #e6e6e6;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.table1 td,.table1 tr{
    border-top: none;
    border-left: none;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;
}
.content-header th{
    padding: 5px 0;
    border-top: none;
    border-left: none;
    text-align: left;
    font-weight: 400;
}
.table1-cell{
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    position:relative;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table1-cell-1-0-0{
width: 48px;
}
.table1-cell-checkbox{
    padding: 0;
    text-align: center;
}
.table1-cell-1-0-1{
    width:80px;
}
.table1-cell-1-0-2{
    width: 120px;
}
.table1-cell-1-0-3{
     width:150px;
}
.table1-cell-1-0-4{
    width:80px;
}
.table1-cell-1-0-5{
    width:100px;
}
.table1-cell-1-0-6{
    width:297px;
}
.table1-cell-1-0-7{
    width:80px;
}
.table1-cell-1-0-8{
    width:120px;
}
.table1-cell-1-0-9{
    width:100px;
}
.table1-cell-1-0-10{
    width:120px;
}
.table1-cell-1-0-11{
    width:186.2px;
}
